footer {
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: var(--color-bg);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__copyright {
    margin: 4rem;
    color: var(--color-bg);
}

/* Media devices Tablets */

@media screen and (max-width: 1024px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }



}

/* Media devices Small Devices*/

@media screen and (max-width: 600px) {}

/* Notes for myself, Need to work on a few more things maybe make a interactive backgroundasaa*/